/* @partial _pages--search.scss */

/* Search page filters */
.exposedformsearchpage-1-2 {

  .form--inline {
    @include clearfix;

    margin-left: -$horiz-gutter/2;
    margin-right: -$horiz-gutter/2;
    position: relative;
  }

  .form-item,
  .form-actions {
    width: 20%;
    float: left;
    padding-left: $horiz-gutter/2;
    padding-right: $horiz-gutter/2;
    margin: 0 0 $vert-gutter/2;

    label {
      margin-top: 0;
    }
  }

  .form-actions {
    clear: none;
    padding-top: $vert-gutter/2;

    & > div {
      width: 50%;
      float: left;
    }

    input {
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    .edit-submit-search input {
      background: $color-dark-charcoal;

      &:hover,
      &:focus {
        background: $color-text-hover-click;
      }
    }

    .edit-reset input {
      background: transparent;
      border: 1px solid $color-dark-charcoal;
      color: $color-dark-charcoal;
      padding-top: 11px;
      padding-bottom: 11px;

      &:hover,
      &:focus {
        background: $color-text-hover-click;
        border-color: $color-text-hover-click;
        color: #fff;
      }
    }
  }

  @media (min-width: $tablet-portrait-min) {
    .form-actions {
      padding-top: 26px;
    }
  }

  @media (min-width: $desktop-large-min) {
    .form-item,
    .form-actions {
      width: 20%;
    }
  }

  @media (max-width: $desktop-large-max) {
    .form-item,
    .form-actions {
      width: 25%;
    }

    .form-item-search-fulltext {
      width: 100%;

      input {
        max-width: 100%;
      }
    }
  }

  @media (max-width: $desktop-max) and (min-width: $tablet-portrait-min) {
    .form-item,
    .form-actions {
      width: 33.33%;
    }

    .form-item-search-fulltext {
      width: 66.67%;
    }

    .form-item-resource-category {
      clear: left;
    }

    .form-actions {
      position: absolute;
      right: 0;
    }
  }

  @media (max-width: $tablet-portrait-max) and (min-width: $phone-min) {
    .form-item,
    .form-actions {
      width: 50%;
    }
  }

  @media (max-width: $phone-max) {
    .form-item,
    .form-actions {
      width: 100%;
    }
  }
}
