/* @partial _pages--node-detail */

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}

/* Display Profile Page */
.field--name-field-user-title {
  text-transform: uppercase;
}

.node--type-display-profile.node--view-mode-full {
  .profile__image,
  .profile__info {
    margin-bottom: $vert-gutter;
  }

  .profile__info h1 {
    @include rem("font-size", 44px);

    margin-bottom: $vert-gutter/2;
  }

  .field--name-field-user-bio {
    clear: both;
  }

  @media (min-width: $tablet-small-min) and (max-width: $desktop-max) {

    .profile__image {
      width: 50%;
      float: left;
      padding-right: $horiz-gutter/2;
    }

    .profile__info {
      width: 50%;
      float: left;
      padding-left: $horiz-gutter/2;

      h1 {
        margin-top: 0;
      }
    }
  }

  @media (min-width: $desktop-large-min) {
    @include rem("font-size", 20px);

    .profile__image {
      width: 50%;
      float: left;
      padding-right: $horiz-gutter/2;
    }

    .profile__image {
      width: 50%;
      float: left;
      padding-right: $horiz-gutter/2;
    }

    .profile__info {
      width: 50%;
      float: left;
      padding-left: $horiz-gutter/2;
    }

    h1 {
      margin-top: 0;
    }
  }
}

/* Meeting */
.meeting-title {
  @include h1;

  a {
    color: $color-text-black;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-text-hover-click;
    }
  }
}

.node--type-meeting {
  @include clearfix;

  @media (min-width: $desktop-min) {
    .meeting__content,
    .meeting__sidebar {
      float: left;
    }
    .meeting__content {
      width: 67%;
      padding-right: $horiz-gutter/2;
    }

    .meeting__sidebar {
      width: 33%;
      padding-left: $horiz-gutter/2;
    }
  }

  .meeting__sidebar {
    padding-top: $vert-gutter;

    @media (min-width: $desktop-min) {
      padding-top: 0;
    }

    .field--name-field-meeting-rsvp-webform {
      padding: 0;

      a {
        @include rem("font-size", 38px);

        background: $color-medium-green;
        color: #fff;
        display: block;
        font-family: $font-montserrat;
        font-weight: 600;
        letter-spacing: 5px;
        padding: $vert-gutter/3 $horiz-gutter/3;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease;

        &:before {
          content: "\f3e5";
          font-family: $font-fa-pro;
          font-size: 0.9em;
          font-weight: 700;
          margin-right: $horiz-gutter/6;
        }

        &:hover,
        &:focus {
          background: $color-pale-green;
          color: $color-dark-green;
        }
      }
    }

    .rsvp-received {
      background: $color-pale-green;
      color: $color-medium-green;
      font-size: 1.125rem;
      font-weight: 700;
      margin: 0;
      text-align: center;

      & + .field--name-field-meeting-rsvp-webform {
        background: $color-pale-green;
        padding: 0 $horiz-gutter $horiz-gutter;
        margin-top: 0;

        a {
          border: 2px solid $color-medium-green;
          font-size: 1rem;
          letter-spacing: 3px;
          padding: $vert-gutter/2 $horiz-gutter/3;

          &:hover,
          &:focus {
            border-color: $color-dark-green;
          }

          &::before {
            content: "\f044";
          }
        }
      }
    }

    & > * {
      @include sidebar-block;

      &.meetinglocationblock {
        padding: 0;
      }

      .field__label,
      h3 {
        @include h2;

        margin-top: 0;
      }
    }
  }

  &.node--view-mode-full {
    .meeting-title {
      margin-top: -4px;
    }

    .field--name-field-meeting-image {
      margin-bottom: $vert-gutter;
    }
  }
}

/* Location Block */
.meetinglocationblock--top {
  padding: $horiz-gutter;

  p {
    margin: 0;

    &.add-to-cal {
      margin-top: $vert-gutter/2;
    }

    a {
      display: inline-block;
      margin-right: 8px;
    }
  }

  h2 {
    margin-top: 0;
  }
}

.meetinglocationblock--bottom {
  display: flex;
  overflow: hidden;

  iframe {
    margin: 0 auto auto auto;
    width: 100%;
  }

  a {
    display: block;
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }
}

/* Meeting Sessions */
.view-sessions-by-meeting {
  h2 {
    border-top: 1px solid $color-hr;
    padding-top: $h2-margin-top;
  }
}

/* Meeting Resources View Mode */
.node--type-meeting.node--view-mode-resources {
  ul.field__items li article {
    float: none;
  }

  .media.media--view-mode-resources {
    display: block;

    .field + .field {
      margin-top: 0;
    }

    .field--name-field-resource-category {
      color: $color-medium-charcoal;
      font-style: italic;
    }

    @media (min-width: $tablet-portrait-min) {
      display: flex;
      justify-content: flex-start;

      .field--name-field-resource-category {
        margin-left: $horiz-gutter/5;
      }
    }
  }
}
