.login-page {
  background: $color-dark-teal;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.page--home__user-login-wrapper {
  background: $color-dark-teal;
  width: 100%;
}

.page--home__user-login-container {
  background-color: $color-teal;
  margin: auto;
  padding: $vert-gutter 0;
  width: 100%;
}

.page--home__user-login {
  @include clearfix;

  background-color: $wht;
  margin: auto;
  padding: $vert-gutter/2 $horiz-gutter/2;
  text-align: center;

  header {
    position: relative;
  }

  h1 {
    @include rem("font-size", 30px);

    color: $wht;
    left: $horiz-gutter;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  h2 {
    @include rem("font-size", 18px);

    margin-top: $vert-gutter/1.5;
    margin-bottom: $vert-gutter/3;
  }

  .openid-connect-login-form {
    input[type="submit"] {
      font-size: 0.9rem;
    }
  }

  .or {
    line-height: 1;
    margin-top: $vert-gutter/1.5;
    margin-bottom: $vert-gutter/1.5;
    position: relative;
    text-transform: uppercase;

    &:before,
    &:after {
      content: "";
      background: $color-hr;
      width: 40%;
      height: 1px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  .form-item {
    margin: 0;
    position: relative;

    input {
      padding-left: $horiz-gutter * 1.25;
      padding-top: $vert-gutter/3;
      padding-bottom: $vert-gutter/3;
    }

    label {
      @include rem("font-size", 10px);

      background: #fff;
      position: absolute;
      top: -8px;
      left: $horiz-gutter/2;
      opacity: 0;
      padding: 0 2px;
      margin: 0;
    }

    .description {
      display: none;
    }

    &:before {
      color: $color-bright-charcoal;
      font-family: $font-fa-pro;
      font-weight: 700;
      position: absolute;
      top: 7px;
      left: $horiz-gutter/2;
    }

    & + .form-item {
      margin-top: -1px;
    }

    &.active {
      label {
        opacity: 1;
      }
    }
  }

  .form-item-name:before {
    content: "\f658";
  }

  .form-item-pass:before {
    content: "\f023";
  }

  @media (min-width: $phone-small-max) {
    padding: $vert-gutter $horiz-gutter;

    h1 {
      @include rem("font-size", 35px);
    }

    .openid-connect-login-form {
      input[type="submit"] {
        font-size: 1rem;
      }
    }
  }
}

.user-login-form {
  margin-bottom: 0;

  .form-actions {
    float: left;
    margin-top: $horiz-gutter;
    margin-right: $horiz-gutter;
    margin-bottom: 0;

    input {
      padding: $horiz-gutter/2 $horiz-gutter;
    }
  }
}

.edit-openid-connect-client-windows-aad-login input {
  padding: $horiz-gutter/2;
  width: 100%;
}

.forgot-password-message {
  color: $button-color;
  float: left;
  margin-top: $horiz-gutter;
  margin-bottom: 0;
  text-align: left;

  a {
    color: $button-color;
    font-weight: 700;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $button-color-hover;
      text-decoration: underline;
    }
  }
}

.page--home__welcome {
  background-image: url("../images/login-banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  height: 0;
  padding-bottom: 56%; // controls background image ratio
  margin-bottom: 30px;
}

@media (min-width: $phone-min) {
  .login-page {
    background: $color-medium-teal;
    padding: $horiz-gutter;
  }

  .page--home__user-login-wrapper {
    padding-top: $vert-gutter;
    padding-bottom: $vert-gutter;
  }

  .page--home__user-login-container {
    padding: $horiz-gutter;
    max-width: 450px;
  }
}
