{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* - location: Location text as entered in the Meeting.
* - gmap_formatted_url: Location formatted to suit the Google Maps URL structure
*
* @ingroup themeable
*/
#}

<div class="meetinglocationblock--bottom">
  <a href="https://maps.google.com/?q={{ location|join('+') }}"{% if not display_map_image %} class="button"{% endif %} target="_blank">
    {% if display_map_image %}
      <img src="{{gmap_formatted_url}}" alt="Location Map">
    {% else %}
      View map
    {% endif %}
  </a>
</div>
