/* @partial _buttons.scss */


// Change this mixin @ _mixins.scss as needed.
// Mixin arguments: button--submit($btn-color: #000000, $btn-text-color: #FFFFFF, $btn-radius: $button-border-radius, $btn-padding: $input-padding) {

.button,
button,
input[type="submit"] {
  @include button--submit();
}

input[value="Delete"],
input[value="Remove"],
.button--danger {
  @include button--submit($red);
}

input[value="Cancel"] {
  @include button--submit($color-medium-charcoal);
}

input[value="Save"] {
  @include button--submit($color-medium-green);
}
