/* @partial _field.scss */
.field + .field {
  margin-top: $vert-gutter/2;
}

// Prevent long link titles from extending out of container
// .views-field-field-resources li,
// .field--name-field-resources.item-list li {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
