/* @partial _form-elements.scss */

// textarea, /* Every input field known to css. work in progress */
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="email"],
// input[type="month"],
// input[type="number"],
// input[type="password"],
// input[type="search"],
// input[type="tel"],
// input[type="text"],
// input[type="time"],
// input[type="url"],
// input[type="week"]
// input[type="text"],
// input[type="email"],
// input[type="password"]

/* Correct height of image inputs like inputs found in Paypal forms */
input[type="image"] {
  height: auto;
}

/* Highlight the form elements that caused a form submission error. */
input.error,
textarea.error,
select.error {
  border: 1px solid $error-border;
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Keep form elements constrained in their containers.
 */
button,
input,
select,
textarea {
  font-family: $input-font-family; /* 1 */
  max-width: 100%; /* 2 */
}

textarea,
input {
  background: $input-background-color;
  border: 1px solid $input-border-color;
  box-shadow: $input-box-shadow;
  padding: $input-padding;
  border-radius: $input-border-radius;
  // Avoiding "all" because Drupal Ajax throbber is effected by background-position transitioning
  // & iOS7 has trouble painting elements added via ajax
  transition-property: border, box-shadow, color, background-color;
  transition-duration: $input-transition-duration;
  transition-timing-function: ease-in;
  color: $input-font-color;
  font-size: $input-font-size;
  width: 100%;
  max-width: 400px; /* fixed overflow of input fields in drupal 6 layouts */
  &:focus, &:active {
    border: 1px solid $input-border-color-focus;
    background: $input-backgroud-color-focus;
    outline: none;
  }

  &[type="submit"] {
    width: auto;
  }
}

button {
  padding: $input-padding;
}

// Fix positioning of throbber after adding height to inputs. Original css found in systems.css
html.js input.form-autocomplete {
   background-position: 99% 5px;
}
html.js input.throbbing {
   background-position: 99% -15px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  &:focus {
    background-color: $link-color-hover;
  }
}

textarea[disabled],
select[disabled],
input[disabled] {
  background-color: $input-disabled-background-color;
  color: $input-disabled-font-color;
}


/* Input placeholder color
  ========================================================================== */


::-webkit-input-placeholder {
  color: $placeholder-color;
  &:focus {
   color: $placeholder-focus-color;
  }
}

// Make disappear on focus in iOS... This works in Chrome as opposed to the above focus style
:focus::-webkit-input-placeholder{
  color: $placeholder-focus-color;
}

:-moz-placeholder { /* Firefox 18- */
  color: $placeholder-color;
  &:focus {
   color: $placeholder-focus-color;
  }
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $placeholder-color;
  &:focus {
   color: $placeholder-focus-color;
  }
}

:-ms-input-placeholder {
  color: $placeholder-color;
  &:focus {
   color: $placeholder-focus-color;
  }
}

/* Select Boxes */
.selectability-offscreen {
  @include element-invisible;
}

.selectability {
  @include rem("font-size", 16px);

  position: relative;
  width: 100%;
  max-width: 400px;

  &:focus {
    outline: none;
  }

  div[role="textbox"],
  div[role="listbox"] {
    background: $color-text-hover-click;

    &:focus {
      outline: none;
    }
  }

  div[role="textbox"] {
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 8px $horiz-gutter/2;
    padding-right: $horiz-gutter*1.5;
    position: relative;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:after {
      content: "\f078";
      font-family: $font-fa-pro;
      font-size: 1.35rem;
      position: absolute;
      right: $horiz-gutter/2;
      pointer-events: none;
      top: 0;
      bottom: 0;
      line-height: 40px;
    }
  }

  div[role="listbox"] {
    position: absolute;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    z-index: 20;
    max-height: 300px;
    overflow: auto;
  }

  &[aria-expanded="true"] {
  }

  div[role="option"] {
    background: #fff;
    cursor: pointer;
    padding-left: $horiz-gutter/3;
    padding-right: $horiz-gutter/3;
    padding-top: 5px;
    padding-bottom: 5px;

    &:first-child {
      padding-top: $horiz-gutter/3;
    }

    &:last-child {
      padding-bottom: $horiz-gutter/3;
    }

    &:hover,
    &:focus {
      color: $color-text-hover-click;
      font-weight: 700;
      outline: none;
    }
  }

  &[aria-expanded="true"] {
    div[role="listbox"] {
      border: 10px solid $color-text-hover-click;
    }
  }
}

/* Checkboxes/Radio Buttons */
.form-type-radio,
.form-type-checkbox {
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 5px;
    width: 1rem;
    height: 1rem;

    & + label {
      font-size: 1rem;
      font-weight: 400;
      padding-left: $horiz-gutter/1.5;

      &:before {
        font-family: $font-fa-pro;
        line-height: 1;
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
  }

  .description {
    margin-left: $horiz-gutter/1.5;
  }
}

.form-type-checkbox {
  input + label:before {
    content: "\f0c8";
  }

  input:checked + label:before {
    content: "\f14a";
  }
}

.form-type-radio {
  input + label:before {
    content: "\f111";
  }

  input:checked + label:before {
    content: "\f2f8";
  }
}

// Show no radio buttons for Archive page filter
.archive-form {
  .fieldgroup {
    line-height: 1.25;
  }
  .form-type-radio input + label::before,
  .form-type-radio input:checked + label::before {
    content: '';
  }

  .form-type-radio label {
    padding: 0;
  }

  .fieldset-legend {
    padding-right: 20px;
  }
}

/* Autocomplete Fields */
.js input.form-autocomplete {
  background-image: none;
  background-size: 20px auto;
  background-repeat: no-repeat;

  &.ui-autocomplete-loading {
    background-image: url('../images/loading.gif');
    background-position: right 10px center;
  }
}
