/* @partial _icon-font.scss */


@font-face {
  font-family: 'icomoon';
  src:url('../../vendor/fonts/icomoon.eot?vhmyob');
  src:url('../../vendor/fonts/icomoon.eot?#iefixvhmyob') format('embedded-opentype'),
    url('../../vendor/fonts/icomoon.woff?vhmyob') format('woff'),
    url('../../vendor/fonts/icomoon.ttf?vhmyob') format('truetype'),
    url('../../vendor/fonts/icomoon.svg?vhmyob#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}

.icon-envelope-o:before {
  content: "\f003";
}

.icon-star:before {
  content: "\f005";
}

.icon-star-o:before {
  content: "\f006";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-th:before {
  content: "\f00a";
}

.icon-th-list:before {
  content: "\f00b";
}

.icon-check:before {
  content: "\f00c";
}

.icon-close:before {
  content: "\f00d";
}

.icon-search-plus:before {
  content: "\f00e";
}

.icon-search-minus:before {
  content: "\f010";
}

.icon-cog:before {
  content: "\f013";
}

.icon-trash-o:before {
  content: "\f014";
}

.icon-clock-o:before {
  content: "\f017";
}

.icon-download:before {
  content: "\f019";
}

.icon-arrow-circle-o-down:before {
  content: "\f01a";
}

.icon-arrow-circle-o-up:before {
  content: "\f01b";
}

.icon-inbox:before {
  content: "\f01c";
}

.icon-repeat:before {
  content: "\f01e";
}

.icon-lock:before {
  content: "\f023";
}

.icon-flag:before {
  content: "\f024";
}

.icon-tag:before {
  content: "\f02b";
}

.icon-tags:before {
  content: "\f02c";
}

.icon-bookmark:before {
  content: "\f02e";
}

.icon-print:before {
  content: "\f02f";
}

.icon-camera:before {
  content: "\f030";
}

.icon-pencil:before {
  content: "\f040";
}

.icon-map-marker:before {
  content: "\f041";
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-chevron-right:before {
  content: "\f054";
}

.icon-plus-circle:before {
  content: "\f055";
}

.icon-minus-circle:before {
  content: "\f056";
}

.icon-times-circle:before {
  content: "\f057";
}

.icon-check-circle:before {
  content: "\f058";
}

.icon-question-circle:before {
  content: "\f059";
}

.icon-info-circle:before {
  content: "\f05a";
}

.icon-times-circle-o:before {
  content: "\f05c";
}

.icon-check-circle-o:before {
  content: "\f05d";
}

.icon-arrow-left:before {
  content: "\f060";
}

.icon-arrow-right:before {
  content: "\f061";
}

.icon-arrow-up:before {
  content: "\f062";
}

.icon-arrow-down:before {
  content: "\f063";
}

.icon-mail-forward:before {
  content: "\f064";
}

.icon-expand:before {
  content: "\f065";
}

.icon-compress:before {
  content: "\f066";
}

.icon-plus:before {
  content: "\f067";
}

.icon-minus:before {
  content: "\f068";
}

.icon-exclamation-circle:before {
  content: "\f06a";
}

.icon-exclamation-triangle:before {
  content: "\f071";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-comment:before {
  content: "\f075";
}

.icon-chevron-up:before {
  content: "\f077";
}

.icon-chevron-down:before {
  content: "\f078";
}

.icon-shopping-cart:before {
  content: "\f07a";
}

.icon-folder:before {
  content: "\f07b";
}

.icon-folder-open:before {
  content: "\f07c";
}

.icon-twitter-square:before {
  content: "\f081";
}

.icon-facebook-square:before {
  content: "\f082";
}

.icon-linkedin-square:before {
  content: "\f08c";
}

.icon-phone:before {
  content: "\f095";
}

.icon-square-o:before {
  content: "\f096";
}

.icon-bookmark-o:before {
  content: "\f097";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-arrow-circle-left:before {
  content: "\f0a8";
}

.icon-arrow-circle-right:before {
  content: "\f0a9";
}

.icon-arrow-circle-up:before {
  content: "\f0aa";
}

.icon-arrow-circle-down:before {
  content: "\f0ab";
}

.icon-globe:before {
  content: "\f0ac";
}

.icon-square:before {
  content: "\f0c8";
}

.icon-bars:before {
  content: "\f0c9";
}

.icon-pinterest:before {
  content: "\f0d2";
}

.icon-pinterest-square:before {
  content: "\f0d3";
}

.icon-google-plus-square:before {
  content: "\f0d4";
}

.icon-google-plus:before {
  content: "\f0d5";
}

.icon-caret-left:before {
  content: "\f0d9";
}

.icon-caret-right:before {
  content: "\f0da";
}

.icon-sort-desc:before {
  content: "\f0dd";
}

.icon-sort-asc:before {
  content: "\f0de";
}

.icon-envelope:before {
  content: "\f0e0";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-comment-o:before {
  content: "\f0e5";
}

.icon-comments-o:before {
  content: "\f0e6";
}

.icon-cloud-download:before {
  content: "\f0ed";
}

.icon-cloud-upload:before {
  content: "\f0ee";
}

.icon-file-text-o:before {
  content: "\f0f6";
}

.icon-angle-double-left:before {
  content: "\f100";
}

.icon-angle-double-right:before {
  content: "\f101";
}

.icon-angle-double-up:before {
  content: "\f102";
}

.icon-angle-double-down:before {
  content: "\f103";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-angle-up:before {
  content: "\f106";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-circle-o:before {
  content: "\f10c";
}

.icon-circle:before {
  content: "\f111";
}

.icon-code-fork:before {
  content: "\f126";
}

.icon-calendar-o:before {
  content: "\f133";
}

.icon-chevron-circle-left:before {
  content: "\f137";
}

.icon-chevron-circle-right:before {
  content: "\f138";
}

.icon-chevron-circle-up:before {
  content: "\f139";
}

.icon-chevron-circle-down:before {
  content: "\f13a";
}

.icon-unlock-alt:before {
  content: "\f13e";
}

.icon-compass:before {
  content: "\f14e";
}

.icon-youtube-square:before {
  content: "\f166";
}

.icon-youtube:before {
  content: "\f167";
}

.icon-instagram:before {
  content: "\f16d";
}

.icon-paper-plane:before {
  content: "\f1d8";
}

.icon-paper-plane-o:before {
  content: "\f1d9";
}

.icon-share-alt:before {
  content: "\f1e0";
}

.icon-share-alt-square:before {
  content: "\f1e1";
}

.icon-paypal:before {
  content: "\f1ed";
}

.icon-cc-stripe:before {
  content: "\f1f5";
}

.icon-trash:before {
  content: "\f1f8";
}

.icon-toggle-off:before {
  content: "\f204";
}

.icon-toggle-on:before {
  content: "\f205";
}

.icon-vimeo:before {
  content: "\e600";
}

