/* @partial _lists.scss */

/////////////////////////////////////////////
// Order, unordered and definition lists
/////////////////////////////////////////////

/*
 * Addresses margins set differently in IE6/7
 */

dl,
menu,
ol,
ul {
  margin: $vert-gutter 0;
}

ul li {
  margin-bottom: ($vert-gutter/3);
}

dd {
  margin: 0 0 0 $horiz-gutter; /* LTR */
}

ul, ol {
  ul, ol {
    margin: 0; /* Turn off margins on nested lists. */
  }
}

/*
 * Addresses paddings set differently in IE6/7
 */

menu,
ol,
ul {
  padding: 0 0 0 $horiz-gutter; /* LTR */
}

/*
 * Corrects list images handled incorrectly in IE7
 */

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.item-list ul li {
  margin-left: 18px;
}

.vertical-tabs__menu {
  .vertical-tabs__menu-item {
    margin-bottom: 0;
  }
}

ul.field__items li article {
  float: left;
  width: 100%;
}
