/* @partial normalize */


///////////////////////////////////////////////////////////////////////////////////
// NOTE: Normalize.css is intended to be used as an alternative to CSS resets.
// This is a customized normalize file. Some css has moved to forms and typography.
///////////////////////////////////////////////////////////////////////////////////


body {
  margin: 0;
  padding: 0;
  color: $body-font-color;
  background-color: $body-bgrd-color;
}

/* Remove touch delay IOS9.3+, Older browser would need FastClick js library to disable 350ms delay */
// May need to adjust selctors here. Needs testing.
a,
input,
textarea,
button,
select {
  touch-action: manipulation;
}

/* HTML5 display definitions
   ========================================================================== */


// * Correct `block` display not defined for any HTML5 element in IE 8/9.
// * Correct `block` display not defined for `details` or `summary` in IE 10/11
// * and Firefox.
// * Correct `block` display not defined for `main` in IE 11.

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

// * 1. Correct `inline-block` display not defined in IE 8/9.
// * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

// * Prevent modern browsers from displaying `audio` without controls.
// * Remove excess height in iOS 5 devices.

audio:not([controls]) {
  display: none;
  height: 0;
}

// * Address `[hidden]` styling not present in IE 8/9/10.
// * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.

[hidden],
template {
  display: none;
}


/* Forms
   ========================================================================== */


// * Known limitation: by default, Chrome and Safari on OS X allow very limited
// * styling of `select`, unless a `border` property is set.
// *
// * 1. Correct color not being inherited.
// *    Known issue: affects color of disabled elements.
// * 2. Correct font properties not being inherited.
// * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
// * 4. Keep form elements constrained in their containers.

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  font-family: $input-font-family;
  margin: 0; /* 3 */
  max-width: 100%; /* 4 */

}

// * Address Firefox 4+ setting `line-height` on `input` using `!important` in
// * the UA stylesheet.

input {
  line-height: normal;
}

// * Address inconsistent `text-transform` inheritance for `button` and `select`.
// * All other form control elements do not inherit `text-transform` values.
// * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
// * Correct `select` style inheritance in Firefox 4+ and Opera.

button,
select {
  text-transform: none;
}

// * Address `overflow` set to `hidden` in IE 8/9/10/11

button {
  overflow: visible;
}

// * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
// *    and `video` controls.
// * 2. Correct inability to style clickable `input` types in iOS.
// * 3. Improve usability and consistency of cursor style between image-type
// *    `input` and others.

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}


// * Re-set default cursor for disabled elements.

button[disabled],
html input[disabled] {
  cursor: default;
}

// * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
// * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.


input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

// * Remove inner padding and search cancel button in Safari and Chrome on OS X.
// * Safari (but not Chrome) clips the cancel button when the search input has
// * padding (and `textfield` appearance).

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Remove inner padding and border in Firefox 4+.

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// * It's recommended that you don't attempt to style these elements.
// * Firefox's implementation doesn't respect box-sizing, padding, or width.
// *
// * 1. Address box sizing set to `content-box` in IE 8/9/10.
// * 2. Remove excess padding in IE 8/9/10.

input[type="checkbox"],
input[type="radio"] {
  margin-right: $horiz-gutter/4;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

// * Fix the cursor style for Chrome's increment/decrement buttons. For certain
// * `font-size` values of the `input`, it causes the cursor style of the
// * decrement button to change from `default` to `text`.

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

// * Address Firefox 4+ setting `line-height` on `input` using `!important` in
// * the UA stylesheet.

input {
  line-height: normal;
}

// * 1. Improves usability and consistency of cursor style between image-type 'input' and others
// * 2. Corrects inability to style clickable 'input' types in iOS

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; /* 1 */
  -webkit-appearance: button; /* 2 */
}

/* Text-level semantics
   ========================================================================== */


// * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.

b,
strong {
  font-weight: bold;
}

// * Address styling not present in Safari and Chrome.

dfn {
  font-style: italic;
}

// * Address styling not present in IE 8/9.

mark {
  background: #ff0;
  color: #000;
}


/* Text highlight color
  ========================================================================== */


::selection {
  background: $link-color; /* Safari */
  color: lighten($link-color, 60%);
}

::-moz-selection {
  background: $link-color; /* Firefox */
  color: lighten($link-color, 60%);
}


/* Embedded content
   ========================================================================== */

img {
  /* Remove border when inside `a` element in IE 8/9. */
  border: 0;

  /* Suppress the space beneath the baseline */
  vertical-align: bottom;

  /* Responsive images */
  max-width: 100%;
  height: auto;
}

.ie8 img {
  max-width: none;  /* ie8 needs "width: auto;" and "max-width: none;" for ie8 only */
  width: auto;
}

// * Corrects overflow displayed oddly in IE9

svg:not(:root) {
  overflow: hidden;
}


/* Figures
   ========================================================================== */


// * Addresses margin not present in IE6/7/8/9, S5, O11

figure {
  margin: 0;
}
