/* @partial _tables.scss */


table {
  border-collapse: collapse;
  border-spacing: 0;
   width: 100%; /* Prevent cramped-looking tables */
  /* Add vertical rhythm margins. */
  margin: $vert-gutter 0;
}

tbody {
  border-style: $table-tbody-border-style;
  border-width: $table-tbody-border-width;
  border-color: $table-tbody-border-color;
}

th {
  text-align: left; /* LTR */
  padding: $table-th-padding;
  border-style: $table-th-border-style;
  border-width: $table-th-border-width;
  border-color: $table-th-border-color;
  text-transform: uppercase;

  a {
    color: $color-text-black;
    text-decoration: none;
  }
}

td {
  border-bottom: 1px solid $color-hr;
  padding: $table-td-padding;
}

th, td {
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &.is-active {
    background: transparent;
  }
}


tr.even {
  background: $table-tr-even-background;
  border-style: $table-tr-even-border-style;
  border-width: $table-tr-even-border-width;
  border-color: $table-tr-even-border-color;

}

tr.odd {
  background: $table-tr-odd-background;
  border-style: $table-tr-odd-border-style;
  border-width: $table-tr-odd-border-width;
  border-color: $table-tr-odd-border-color;
}

tr.drag {
  background: $table-tr-drag-background;
}

.views-table {
  .views-field-field-session-date {
    min-width: 80px;
  }

  @media (min-width: $tablet-small-min) {
    .views-field-field-resource-category {
      min-width: 150px;
    }
  }
}

.tablesort {
  background: none;
  width: 14px;
  height: 14px;
  line-height: 1;
  position: relative;

  &:before {
    font-family: $font-fa-pro;
  }

  &.tablesort--asc {
    top: 2px;

    &:before {
      content: "\f0de";
    }
  }

  &.tablesort--desc {
    top: -1px;

    &:before {
      content: "\f0dd";
    }
  }
}

.inline-entity-form-media-bundle {
  width: 120px;
}

.ief-entity-table .ief-entity-operations {

  div {
    display: inline-block;

    input {
      margin-right: $horiz-gutter/2;
    }

    &:last-child {
      input {
        margin-right: 0;
      }
    }
  }
}

.view-responsive-table {
  .view-content {
    overflow-x: auto;
  }
}
