// =============================================================================
// GENERAL VARIABLES
// =============================================================================

// SHARED FORM VARIABLES
$ui-border-color: $color-hr;
$ui-background-color: $color-dark-charcoal;
$ui-padding: ($vert-gutter/2) ($horiz-gutter/2);
$ui-border-radius: 0;

// SHARED STATES
$delete-color: $red; // delete & remove buttons / inputs
$disabled-background-color: $gray-lighter;
$disabled-font-color: $gray-light;

// =============================================================================
// ATOM (element) VARIABLES
// =============================================================================

// TEXT
$header-font: $font-header;
$page-title-color: $color-dark-charcoal;
$block-title-color: $page-title-color;
$body-font: $font-main;
$font-monospace: $courier; // <pre>, <code> tags

// BODY
$body-font-color: $color-dark-charcoal;
$body-bgrd-color: $color-medium-teal;

// LINKS
$link-color: $color-medium-copper;
$link-color-visited: $color-medium-orange;
$link-color-hover: $color-medium-orange;
$link-color-focus: $color-medium-orange;
$link-color-active: $color-medium-orange;
$link-text-decoration: underline;

// FORM INPUTS, BUTTONS & SUBMITS
$input-padding: 9px 16px;
$input-font-family: inherit;
$input-font-color: $body-font-color;
$input-font-size: 1rem;

$input-background-color: #fff;
$input-backgroud-color-focus: #fff;

$input-border-color: $ui-border-color;
$input-border-color-focus: $link-color;
$input-border-radius: $ui-border-radius;

$input-box-shadow: none;
$input-box-shadow-focus: none;
$input-transition-duration: 0.1s;

$input-disabled-background-color: $disabled-background-color;
$input-disabled-font-color: $disabled-font-color;

$inline-field-gutter: 0.5rem;
$inline-field-gutter: 0.5rem;

$placeholder-color: #999999;
$placeholder-focus-color: $input-background-color;

// BUTTONS
$button-color: $color-medium-orange;
$button-color-hover: $color-dark-orange;
$button-border: $color-medium-orange;
$button-border-radius: $ui-border-radius;

// BLOCKQUOTES
$blockquote-border-color: $ui-border-color;

// HORIZONTAL RULE
$horizontal-rule-border: $ui-border-color;

// =============================================================================
// MOLECULE / ORGANISM (module / components) VARIABLES
// =============================================================================

// MESSAGES
$success-border: $green;
$success-background: #fff;
$success-text: $success-border;
$warning-border: $yellow;
$warning-background: #fff;
$warning-text: $warning-border;
$error-border: $red;
$error-background: #fff;
$error-text: $error-border;

// PAGER
$pager-color: $link-color;
$pager-color-hover: $link-color-hover;

// FIELDSET
$legend-font-weight: bold;

// FORM ITEMS
$form-item-margin: 0 0 $horiz-gutter 0;
$form-item-label-font-weight: bold;
$form-item-label-font-size: 13px;
$form-item-label-margin: 0 0 0 0;
$form-item-description-font-size: 13px;

// TABLES
$table-tbody-border-style: solid;
$table-tbody-border-width: 1px 1px 1px 1px;
$table-tbody-border-color: $color-hr transparent transparent transparent;

$table-th-border-style: solid;
$table-th-border-width: 1px 1px 1px 1px;
$table-th-border-color: transparent transparent $color-hr transparent;

$table-tr-even-background: transparent;
$table-tr-even-border-style: solid;
$table-tr-even-border-width: 1px 1px 1px 1px;
$table-tr-even-border-color: $color-hr transparent $color-hr transparent;

$table-tr-odd-background: transparent;
$table-tr-odd-border-style: solid;
$table-tr-odd-border-width: 1px 1px 1px 1px;
$table-tr-odd-border-color: $color-hr transparent transparent transparent;

$table-tr-drag-background: $table-tr-odd-border-color;
$table-th-padding: $horiz-gutter/3 $horiz-gutter/2;
$table-td-padding: $horiz-gutter/2;
$table-td-disabled-background: #ccc;

// DRUPAL EDIT, VERTICAL & HORIZONTAL TABS
$tabs-background-color: $ui-background-color;
$tabs-background-color--active: $link-color;
$tabs-border-color: $ui-border-color;
$tabs-border-color--active: $link-color;
$tabs-content-color: $body-font-color;
$tabs-content-color--active: #ffffff;
$tabs-border-radius: $ui-border-radius;
$tabs-font-size: 1rem;
