// Default grid settings for Neat:
// https://github.com/thoughtbot/neat/blob/v4.0.0/core/neat/settings/_settings.scss
$neat-grid: (
  columns: 12,
  gutter: 30px,
);

// =============================================================================
// VERTICAL RHTHYM & GRID VARIABLES
// =============================================================================

// Universal vertical rhthym gutter. Determines baseline gutters
// as well as block and form element margins,
// p + p tags, hr tags, blockquote and pre tag padding
$vert-gutter: 30px;
$horiz-gutter: 30px;

// =============================================================================
// MEDIA QUERY VARIABLES
// =============================================================================

// Set min and max width of the overall layout
$viewport-min: 320px;
$viewport-max: 1340px;

// Converted to ems for better font scaling & accessibility.
// Forced base font size of 16px in second argument to prevent unexpected calculations for breakpoints.
$breakpoint-xsmall-max: em(479px, 16px);
$breakpoint-xsmall-min: em(480px, 16px);

$breakpoint-small-max: em(599px, 16px);
$breakpoint-small-min: em(600px, 16px); // Typically 2 column break

$breakpoint-medium-max: em(767px, 16px);
$breakpoint-medium-min: em(768px, 16px); // iPad portrait (landscape is 1024px)

$breakpoint-large-max: em(839px, 16px);
$breakpoint-large-min: em(840px, 16px); // Typically 3 column break

$breakpoint-xlarge-max: em(1079px, 16px);
$breakpoint-xlarge-min: em(1080px, 16px); // Typically 4 column break

// Miscellanous breakpoints
// $orientation-landscape: "only screen and (orientation: landscape)"; // Usage: @media #{$orientation-landscape} {}
// $orientation-portrait: "only screen and (orientation: portrait)"; // Usage: @media #{$orientation-portrait} {}

$desktop-large-min: 1200px;
$desktop-large-max: 1199px;
$tablet-landscape-min: 1024px;
$tablet-landscape-max: 1023px;
$desktop-min: 960px;
$desktop-max: 959px;
$tablet-portrait-min: 768px;
$tablet-portrait-max: 767px;
$tablet-small-min: 600px;
$tablet-small-max: 599px;
$phone-min: 480px;
$phone-max: 479px;
$phone-small-max: 375px;
