// =============================================================================
// TYPOGRAPHY
// =============================================================================

// Adjust with copy paste of pixel css code from http://www.gridlover.net/app/
$base-font-size: 16px; // The font size set on the root html element & used in rem() mixin calculations
// $measure: 760px;

$h1-font-size: 36px; // mockups listed as 52pt
$h1-line: 36px;
$h1-lines: 1;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 0.5 * $h1-line;
$h1-margin-bottom: 0.5 * $h1-line;

$h2-font-size: 20px; // listed as 28pt
$h2-line: 20px;
$h2-lines: 1;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 1.5 * $h2-line;
$h2-margin-bottom: 1 * $h2-line;

$h3-font-size: 16px; // listed as 22pt
$h3-line: 16px;
$h3-lines: 2;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1.5 * $h3-line;
$h3-margin-bottom: 0.5 * $h3-line;

$h4-font-size: 14px;
$h4-line: 14px;
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 1 * $h4-line;

// Variables are rounded to pixels
// It's safe to multiply with integers
// eg. h1 {margin: 2*$h1-line 0;}
// The grid will stay aligned

// **** END GRID LOVER VARIABLES ******

// Recalculating line-heights to remove units
$h1-line-height: ($h1-line * $h1-lines) / $h1-font-size;
$h2-line-height: ($h2-line * $h2-lines) / $h2-font-size;
$h3-line-height: 1.4; // Magic numbers
$h4-line-height: 1.5; // Magic numbers

$base-line-height: $base-font-size * 1.5; // Typically 1.2-1.5 dependant upon size of font characters.
$body-line-height: $base-line-height / $base-font-size;

// Common font stacks
$serif: Times,
  "Times New Roman",
  Georgia,
  "DejaVu Serif",
  serif;

$sans-serif: "HelveticaNeue-Light",
  "Helvetica Neue Light",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Lucida Grande",
  sans-serif;

$courier: monospace,
  "Courier New",
  "DejaVu Sans Mono",
  sans-serif;

// $webfont-normal: 'FONTFACENAMEHERE',
//   Arial,
//   Helvetica,
//   sans-serif;

// $webfont-bold: 'FONTFACENAMEHERE',
//   Arial,
//   Helvetica,
//   sans-serif;

// Google Fonts from WG design spec.
$font-montserrat: "Montserrat",
  $sans-serif;

$font-source-sans-pro: "Source Sans Pro",
  $sans-serif;

$font-header: $font-montserrat;
$font-main: $font-source-sans-pro;

// Font Weights
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 800;

// Icons
$font-fa-pro: "Font Awesome 5 Pro";
$font-fa-brands: "Font Awesome 5 Brands";
