// =============================================================================
// COLOR PALLETE
// =============================================================================

//
// Defaults
$wht: #ffffff;
$blk: #000000;
$gray-dark: #292929; // Headings
$gray-darker: #3c3b3b; // Body text
$gray-lighter: #eeeeee; // Disabled background
$gray-light: #888888; // Disabled font
$blue-gray: #739bc7; // Links & Buttons

//
// FROM STYLEGUIDE

// Teal
$color-pale-teal: #ddefee;
$color-light-teal: #92d0c3;
$color-bright-teal: #74c0b5;
$color-teal: #3eada7;
$color-medium-teal: #0d7482;
$color-dark-teal: #135860;

// Green
$color-pale-green: #e9f2db;
$color-light-green: #abd175;
$color-bright-green: #81c147;
$color-green: #4fb754;
$color-medium-green: #378639;
$color-dark-green: #25582c;

// Orange
$color-pale-orange: #fce7db;
$color-light-orange: #f59c72;
$color-bright-orange: #f16b25;
$color-orange: #ee5b25;
$color-medium-orange: #bf5728;
$color-dark-orange: #ad4e25;

// Copper
$color-pale-copper: #e6ddd8;
$color-light-copper: #c4987b;
$color-bright-copper: #d27844;
$color-copper: #a05425;
$color-medium-copper: #6a3514;
$color-dark-copper: #4d250c;

// Charcoal
$color-pale-charcoal: #ececec;
$color-light-charcoal: #c6c6c6;
$color-bright-charcoal: #b3b4b4;
$color-charcoal: #8d8d8d;
$color-medium-charcoal: #666667;
$color-dark-charcoal: #414142;

// Text Colors
$color-text-black: $color-dark-charcoal;
$color-text-hover-click: $color-medium-orange;
$color-text-hyperlink: $color-medium-copper;
$color-text-white: $wht;

// Grey Divider Line (horizontal rule)
$color-hr: #b2b2b2;

// Messages
$red: #a82424; // Error / delete
$yellow: $color-medium-orange; // Warning
$green: $color-medium-green; // Success
