{#
/**
 * @file
 * Theme override to display a single page.
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="page">

  {% if page.banner %}
    <div role="banner" class="top-banner">
      {{ page.banner }}
    </div>
  {% endif %}

  <header role="banner" class="header">
    <div class="header-container">
      <div id="page-header" class="header--main-logo">
        <a class="logo" href="/"><span class="element-invisible"></span></a>
      </div>
      <button class="toggle-nav" id="toggle-nav" aria-controls="navigation" aria-expanded="false">
        <span class="bars">
          <span class="bar first"></span>
          <span class="bar middle"></span>
          <span class="bar last"></span>
        </span>
        <span class="text">{{ 'Menu'|t }}</span>
      </button>
      <div id="navigation" class="header--main-navigation">
        {{ page.primary_menu }}
      </div>
    </div>
  </header>

  {{ page.help }}

  <main role="main" class="main layout-container">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {{ page.highlighted }}

    {% if page.content %}
      <div class="layout-content {{ page.content_sidebar ? 'has-sidebar' }}">

        {% if page.content_top %}
          {{ page.content_top }}
        {% endif %}

        <div class="content">
          {{ page.content }}

          {% if page.content_sidebar %}
            <aside class="layout-sidebar-first" role="complementary">
              {{ page.content_sidebar }}
            </aside>
          {% endif %}
        </div>
      </div>{# /.layout-content #}
    {% endif %}

    {% if page.content_bottom_first or page.content_bottom_second %}
      <div class="layout-content-bottom">
        {% if page.content_bottom_first %}
          <div class="layout-content-bottom-first">
            {{ page.content_bottom_first }}
          </div>
        {% endif %}

        {% if page.content_bottom_second %}
          <div class="layout-content-bottom-second">
            {{ page.content_bottom_second }}
          </div>
        {% endif %}
      </div> {# / .layout-content-bottom #}
    {% endif %}

  </main>

  <footer role="contentinfo" class="footer">
    <div class="layout-footer-container">
      {{ page.footer_branding }}
    </div>
    <div class="layout-footer-container">
      {{ page.footer_first }}
      {{ page.footer_second }}
    </div>
  </footer>

  <button id="scroll-to-top" aria-labelledby="scroll-to-top-label" tabindex="-1"><div><i class="fas fa-chevron-up"></i></div><span class="scroll-to-top-label">{{ 'Scroll to Top'|t }}</span></button>

</div>{# /.page #}
