{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    not media.isPublished() ? 'media--unpublished',
    view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% if content %}
    {% if has_link %}
      <a href="{{ resource_link }}" target="_blank">
    {% endif %}

    {% if content.field_resource_thumbnail|render %}
      <div class="resource__image">
        {{ content.field_resource_thumbnail }}
      </div>
    {% endif %}

    <div class="resource__info">
      <h3>{{ name }}</h3>
      {{ content|without('name', 'field_resource_thumbnail', 'field_resource_link', 'field_media_file_1') }}
    </div>

    {% if has_link %}
      </a>
    {% endif %}

  {% endif %}
</article>
