{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{% set startDate = start_date|date("Ymd") %}

{% set endDate = end_date|date("Ymd") %}

{% set eventTitle = node.title.value|render|url_encode %}
{% set titleSlug = node.title.value|clean_class %}

{% if content.field_meeting_description|render %}
  {% set eventDetails = content.field_meeting_description|striptags|url_encode %}
{% endif %}

{% set calendarLocation = calendar_address|render|url_encode %}


{% set icalLink = 'data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0ADTSTART:' ~ startDate ~ '%0ADTEND:' ~ endDate ~ '%0ASUMMARY:' ~ eventTitle ~ '%0ADESCRIPTION:' ~ eventDetails ~ '%0ALOCATION:' ~ calendarLocation ~ '%0AEND:VEVENT%0AEND:VCALENDAR' %}

{% set googleLink = 'https://www.google.com/calendar/r/eventedit?text=' ~ eventTitle ~ '&dates=' ~ startDate ~ '%2F' ~ endDate ~ '&details=' ~ eventDetails ~ '&location=' ~ calendarLocation %}



{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('rdg_classy/node') }}
<article{{ attributes.addClass(classes) }}>

  {% if view_mode == 'resources' %}
    <h2 class="meeting-title">
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>

    {{ content }}
  {% else %}

    {% if page %}
      {{ content.field_meeting_image }}
    {% endif %}

    <div class="meeting__content">

      {{ title_prefix }}
      {% if label and not page %}
        <h2 class="meeting-title">
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}

      {% if page %}
        <h1 class="meeting-title">{{ label }}</h1>
      {% endif %}
      {{ title_suffix }}

      {{ sessions }}

    </div>

    <div class="meeting__sidebar">
      {{ content|without('field_meeting_image', 'field_meeting_location', 'field_meeting_date') }}

      <div class="meetinglocationblock">
        <div class="meetinglocationblock--top">
          <h3>Meeting Location</h3>

          {{ meeting_date }}

          {{ meeting_address }}

          <p class="add-to-cal">
            <a download="{{ titleSlug }}.ics" title="{{ node.title.value }}" href="{{ icalLink }}">Add to iCal</a>
            <a href="{{ googleLink }}" target="_blank">Add to Google Calendar</a>
          </p>
        </div>

        {{ meeting_location }}

      </div>

    </div>

  {% endif %}
</article>
