/* @partial _content.scss */

$neat-grid-custom-no-margin: (
  columns: 12,
  gutter: 0
);

.page {
  position: relative;
  transition: padding-top 0.3s ease-in-out;
}

.layout-container {
  @include layout-container();

  background-color: $color-teal;
  padding-bottom: $vert-gutter;
  padding-top: $vert-gutter;
}

.layout-content,
.layout-content-bottom-first,
.layout-content-bottom-second {
  margin-bottom: $vert-gutter;
}

.region-content-top {
  margin-bottom: $vert-gutter;
}

.layout-content {
  background-color: $wht;
  padding: $horiz-gutter;

  @media (max-width: $phone-small-max) {
    padding-left: $horiz-gutter/2;
    padding-right: $horiz-gutter/2;
  }

  &.has-sidebar {
    .region-content {
      margin-bottom: $vert-gutter;
    }
  }

  @media (min-width: $desktop-min) {
    &.has-sidebar {
      @include clearfix;

      .region-content {
        width: 66%;
        float: left;
        padding-right: $horiz-gutter/2;
        margin-bottom: 0;
      }

      .layout-sidebar-first {
        width: 33%;
        float: left;
        padding-left: $horiz-gutter/2;
      }
    }
  }
}

.layout-content-bottom-first,
.layout-content-bottom-second {
  background-color: $wht;
  padding: $horiz-gutter;

  @media (max-width: $phone-small-max) {
    padding-left: $horiz-gutter/2;
    padding-right: $horiz-gutter/2;
  }

  h2 {
    line-height: 1.4;
    margin: 0 0 ($vert-gutter / 2) 0;
    text-transform: uppercase;
  }
}

.region-highlighted {
  background-color: $wht;
  margin-bottom: $vert-gutter;
  padding: ($vert-gutter/3) ($horiz-gutter);

  .page-title {
    @include rem("font-size", $h2-font-size);

    font-family: $font-montserrat;
    font-weight: $font-weight-light;
    line-height: 1;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

    @media (min-width: $tablet-portrait-min) {
      @include rem("font-size", $h1-font-size);
    }
  }

  .views-field-field-user-picture {
    float: left;
    margin-right: $horiz-gutter/2;
    margin-left: -$horiz-gutter/2;

    img {
      width: 46px;
      border-radius: 23px;
      margin-top: 3px;
    }
  }
}

@media (min-width: $desktop-min) {
  .layout-content-bottom {
    display: flex;
    flex-direction: row;
  }

  .layout-content-bottom-first {
    margin-right: ($horiz-gutter / 2);
    flex: 0 1 67%;
  }

  .layout-content-bottom-second {
    margin-left: ($horiz-gutter / 2);
    flex: 0 1 33%;
  }

  .layout-content:last-child,
  .layout-content-bottom-first,
  .layout-content-bottom-second {
    margin-bottom: 0;
  }
}

/* Sidebars */
.region-content-sidebar > * {
  @include sidebar-block;

  & > h2 {
    margin-top: 0;
  }
}

// Blocks
.block-meeting-location-block {
  padding: 0;

  a,
  p {
    font-size: 22px;
    margin: 0;
  }

  a {
    display: inline-block;
    margin: $vert-gutter 0 0 0;
  }

  h3 {
    font-size: 20px;
    margin: 0;
  }
}
