/* @partial _footer.scss */

$one-third: 33.3334%;
$one-quarter: 25%;
$one-fifth: 20%;

.footer-logo {
  // background-image: url('../images/logo-white.png');
  width: 268px;
  // height: 72px;
  background-image: url('../images/logo-100-years-white.svg');
  height: 112px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-bottom: $vert-gutter;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.footer {
  background-color: $color-dark-charcoal;
  color: $wht;
  font-family: $font-source-sans-pro;
  font-size: $base-font-size;
  font-weight: $font-weight-normal;
  padding: 30px;

  @media (max-width: $phone-small-max) {
    padding-left: $horiz-gutter/2;
    padding-right: $horiz-gutter/2;
  }

  a {
    color: $wht;
    text-decoration: none;

    &:hover {
      color: $color-hr;
      text-decoration: none;
    }
  }

  ul li a.is-active {
    color: $wht;

    &:hover {
      color: $color-hr;
    }
  }

  p {
    margin: 0;
  }
}

.layout-footer-container {
  @include clearfix;
  @include layout-container();

  // display: flex;
  // flex-direction: row;
}

.region-footer-first,
.region-footer-second {
  ul {
    margin: 0;
  }
}

.region-footer-second {
  margin-top: $vert-gutter;
}

@media (min-width: $tablet-portrait-min) {
  .region-footer-first,
  .region-footer-second {
    width: 50%;
    max-width: 400px;
    float: left;
  }

  .region-footer-second {
    margin-top: 0;
  }
}

@media (min-width: $desktop-min) {
  .region-footer-first,
  .region-footer-second {
    width: 100%;
  }
}

.region-footer-branding {
  // flex: 0 1 100%;
  // margin: 0 auto auto 0;
  // display: flex;
}

.region-footer-first,
.region-footer-second {
  // flex: 0 1 $one-third;
  // margin: auto 0 auto 0;
}

.footerbrandblock {
  // flex: 0 1 $one-fifth;
  // margin-bottom: $vert-gutter;
}

.field--name-field-brand-block-logo {
  // flex: 0 1 $one-third;
  margin-bottom: $vert-gutter;

  img {
    opacity: 0.5;
  }
}

.field--name-field-branding-social-media-link {
  margin-bottom: $vert-gutter;

  .field__item {
    display: inline-block;
    margin: auto;

    a {
      font-size: 32px;
    }
  }

  .field__item + .field__item {
    margin-left: 8px;
  }
}

.social-icon {
  width: 40px;
  height: 40px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  display: block;

  &.facebook {
    background-image: url('../images/social-icons/facebook.svg');
  }

  &.x-twitter {
    background-image: url('../images/social-icons/x-twitter.svg');
  }

  &.linkedin {
    background-image: url('../images/social-icons/linkedin.svg');
  }

  &.flickr {
    background-image: url('../images/social-icons/flickr.svg');
  }

  &.youtube {
    background-image: url('../images/social-icons/youtube.svg');
  }

  &.instagram {
    background-image: url('../images/social-icons/instagram.svg');
  }
}

.field--name-field-duke-info-links {
  margin-bottom: $vert-gutter;
  margin-top: 0;

  .field + & {
    margin-top: 0;
  }

  .field__item {
    display: inline-block;
  }

  .field__item::after {
    content: '|';
    display: inline;
    margin-left: 7px;
    margin-right: 5px;
  }

  .field__item:last-child()::after {
    display: none;
  }
}

.menu--footer-main-menu {
  li {
    padding: 0;
  }

  li + li {
    margin-top: 7px;
  }
}
