/* @partial forms */

/* Wrapper for a form element (or group of form elements) and its label. */
.form-item {
  margin: $vert-gutter 0;

  /* Pack groups of checkboxes and radio buttons closer together. */
  .form-checkboxes & ,
  .form-radios & {
    /* Drupal core uses "0.4em 0". */
    margin: 0;
  }

  /* Form items in a table. */
  tr.odd &,
  tr.even & {
    margin: 0;
  }
  label:not(.option),
  .label { /* The label for a form element */
    @include h4;

    margin-bottom: $vert-gutter/6;

    & + .description {
      margin-top: -$vert-gutter/6;
    }

    // color: $color-text-black;
    // font-weight: $form-item-label-font-weight;
    // margin: $form-item-label-margin;
    // font-size: $form-item-label-font-size;
  }

  /* The descriptive help text (separate from the label). */
  .description {
    color: $color-medium-charcoal;
    font-size: $form-item-description-font-size;
    margin-bottom: $vert-gutter/2;
  }
}

.form-required { /* The part of the label that indicates a required field */

  &:after {
    content: "*";
    background: none;
    vertical-align: baseline;
    margin: 0;
  }
}

.form-wrapper {
  @include clearfix;
}

fieldset, details {
  border: 1px solid $color-hr;
  padding: $horiz-gutter;

  legend,
  summary {
    @include h3;

    margin: 0;
    padding-left: $horiz-gutter/3;
    padding-right: $horiz-gutter/3;
    margin-left: -$horiz-gutter/3;

    & + .description {
      margin-top: -$vert-gutter;
    }
  }

  .form-wrapper legend + .description {
    margin-top: 0;
  }

  .form-wrapper:first-child fieldset:first-child {
    margin-top: 0;
  }

  .form-wrapper:last-child fieldset:last-child {
    margin-bottom: 0;
  }
}

details {
  position: relative;

  &[open] {
    summary {
      background: #fff;
      position: absolute;
      top: -$vert-gutter/2;
      left: $horiz-gutter;
    }
  }

  .details-wrapper {
    padding: 0;
  }

  .form-wrapper:first-child .form-item:first-child {
    margin-top: 0;
  }

  fieldset:last-child,
  .form-wrapper:last-child .form-item:last-child {
    margin-bottom: 0;
  }
}

.form-composite > legend {
  @include h4;

  margin-bottom: $vert-gutter/6;

  & + .description {
    margin-top: -$vert-gutter/6 !important;
  }
}

/* Filters */
.filters,
.view-filters .form--inline {
  @include clearfix;
  @include rem("font-size", 16px);

  & > .form-item {
    margin-top: 0;
    min-width: 150px;
  }

  @media (min-width: $tablet-portrait-min) {
    & > .form-item {
      width: 250px;
      float: left;
      margin-left: $horiz-gutter;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .edit-reset {
    clear: left;
    float: left;
    position: relative;
    color: $color-text-black;

    &:after {
      content: "\f00d";
      font-family: $font-fa-pro;
      color: inherit;
      position: absolute;
      right: 0;
      top: 1px;
      pointer-events: none;
    }

    .form-submit {
      background: transparent;
      box-shadow: none;
      color: inherit;
      font-weight: 400;
      margin-left: 0;
      padding: 0 ($horiz-gutter/2) 0 0;
      text-transform: none;

      &:hover,
      &:focus {
        background: transparent;
      }
    }

    &:hover,
    &:focus-within {
      color: $color-text-hover-click;

      .form-submit {
        text-decoration: underline;
      }
    }
  }

  .form-composite {
    float: right;
    width: auto;
    margin-top: 0;

    legend {
      float: left;
      font-weight: 400;
      margin-right: $horiz-gutter/6;
    }

    .fieldset-wrapper {
      float: left;

      .form-type-radio {
        float: left;
        margin-left: $horiz-gutter/6;
        position: relative;

        input {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          cursor: pointer;
        }

        label {
          display: inline-block;
          font-size: inherit;
          font-weight: 400;
        }

        input:checked + label {
          font-weight: 700;
        }

        input:focus,
        input:hover {
          & + label {
            color: $color-text-hover-click;
            text-decoration: underline;
          }
        }

        & + .form-type-radio:before {
          content: "|";
          margin-right: $horiz-gutter/6;
          margin-left: $horiz-gutter/10;
        }
      }
    }
  }
}

.archive-form {
  .filters {
    @media (max-width: $tablet-portrait-max) and (min-width: $tablet-small-min) {
      .form-type-select {
        width: 50%;
        float: left;

        & + .form-type-select {
          margin-left: 0;
        }

        &:nth-child(2n+1) {
          clear: left;
          padding-right: $horiz-gutter/2;
        }

        &:nth-child(2n+2) {
          padding-left: $horiz-gutter/2;
        }
      }
    }
  }
}

#edit-sort--wrapper {
  legend {
    margin-top: 0;

    .fieldset-legend {
      padding-right: 0;
    }
  }
}

/* Loading */
.ajax-progress {
  background-color: rgba(255, 255, 255, 0.75);
  background-image: url('../images/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 100%;

  .throbber,
  .message {
    display: none;
  }
}

/* Edit Resources */
.field--type-entity-reference {

  table {
    margin-top: 0;
  }

  .container-inline .selectability,
  .container-inline .selectability div {
    display: block;
  }

  .container-inline {
    .form-item {
      display: block;
      min-width: 200px;
      float: left;
      margin: $vert-gutter/3 $horiz-gutter/2 0 0;

      &:first-child {
        margin-top: $vert-gutter/3 !important;
      }
    }

    input[type="submit"] {
      margin-top: $vert-gutter/3;
      margin-right: $horiz-gutter/2;
    }

    @media (max-width: $tablet-small-max) {
      .form-item,
      input[type="submit"] {
        width: 100%;
        float: none;
        margin-right: 0;
      }
    }
  }



  // .form-item-field-resources-actions-bundle {
  //   display: block;
  //   float: left;
  //   margin-bottom: 0;

  //   .selectability {
  //     max-width: 200px;
  //   }
  // }

  .edit-field-resources-actions-ief-add,
  .edit-field-resources-actions-ief-add-existing {

    input {
      margin-right: $horiz-gutter/2;
    }
  }

  // .edit-field-resources-actions-ief-add {
  //   display: block;
  //   margin-top: $vert-gutter/3;

  //   @media (min-width: $tablet-portrait-min) {
  //     margin-top: $vert-gutter;
  //     float: left;
  //   }
  // }

  input[type="submit"] {
    margin-top: $vert-gutter/3;

    @media (min-width: $phone-min) {
      float: left;
      margin-right: $horiz-gutter;
    }
  }
}

.ief-form {
  .form-wrapper {
    .form-wrapper:first-child .form-item {
      margin-top: 0;
    }
  }
}

fieldset fieldset.ief-form {
  border: 0;
  padding: 0;
  margin: 0;

  legend {
    @include h4;

    margin: 0;
  }

  .form-item:first-child {
    margin-top: $vert-gutter/3;
  }
}

/* Date/Time Fields */
.form-type-date input {
  width: 100%;

  &.form-time {
    margin-top: $vert-gutter/3;
  }

  @media (min-width: $tablet-small-min) {
    max-width: 199px;

    &.form-time {
      margin-top: 0;
    }
  }
}

.form-type-date + .form-type-webform-time {
  input {
    width: 100%;
    margin-top: $vert-gutter/3;

    @media (min-width: $tablet-small-min) {
      max-width: 199px;
      margin-top: 0;
    }
  }
}

/* RSVP Forms */
.rsvp-title {
  @include h1;

  &:first-child {
    margin-top: 0;
  }
}

.webform-submission-form,
.create-rsvp-form {
  max-width: 800px;

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    max-width: 100%;
  }

  & > fieldset > legend,
  & > .form-item > label {
    @include h3;
  }

  details .form-wrapper .form-item:first-child {
    margin-top: 0;
  }

  .form-item {

    &:first-child {
      margin-top: 0;
    }

    label:before {
      font-weight: 400;
    }

    input:checked + label:before {
      font-weight: 700;
    }
  }

  .form-type-checkbox + .form-type-textfield {
    margin-top: -$vert-gutter/1.5;
  }

  .form-checkboxes .form-item, .form-radios .form-item {
    margin-top: $vert-gutter/6;
  }

  .container-inline {
    width: 100%;
  }

  input[type="submit"] {
    padding: $vert-gutter/2 $horiz-gutter;
  }

  .form-actions {
    margin: 0;

    input[type="submit"] {
      width: 100%;
      margin-top: $vert-gutter/2;
      margin-bottom: 0;
    }
  }

  @media (min-width: $phone-min) {
    .form-actions {
      & > div {
        display: inline-block;
        margin-right: $horiz-gutter;

        input[type="submit"] {
          width: auto;
        }
      }
    }
  }
}

.webform-confirmation__message {
  h2:first-child {
    margin-top: 0;
    margin-bottom: $vert-gutter/2;
  }
}

/* Node Add Forms */
.node-form {
  max-width: 750px;

  & > div > .form-item > label {
    @include h3;

    margin-bottom: $vert-gutter/6;

    & + .description {
      margin-top: -$vert-gutter/6;
    }
  }

  div[class*="form-item-title"] input,
  .field--name-field-session-meeting .selectability,
  .field--name-field-session-meeting .selectability div {
    max-width: 100%;
  }

  .address-container-inline,
  .container-inline {
    @include clearfix;
  }

  div[class*="address-line1"] {
    margin-bottom: $vert-gutter/3;
  }

  div[class*="address-line2"] {
    margin-top: $vert-gutter/3;
  }

  div[class*="address-locality"],
  div[class*="address-administrative-area"],
  div[class*="address-postal-code"] {
    display: block;
    margin-right: 0;
    margin-bottom: 0;
  }

  & > .form-actions {
    @include clearfix;

    .button {
      width: 100%;
      margin-left: 0;
      margin-top: $vert-gutter/3;

      @media (min-width: $phone-min) {
        width: auto;
        float: left;
        margin-right: $horiz-gutter;
      }
    }
  }

  @media (min-width: $tablet-small-min) {

    div[class*="address-administrative-area"] {
      width: 200px;
      margin-right: 0;
      padding-right: $horiz-gutter/2;
      margin-bottom: 0;
      float: left;

      label {
        margin-top: 0;
      }
    }

    div[class*="address-postal-code"] {
      width: 200px;
      margin-right: 0;
      padding-left: $horiz-gutter/2;
      margin-bottom: 0;
      float: left;

      label {
        margin-top: 0;
      }
    }
  }

  // @media (min-width: $desktop-min) {
  //   .form-item-field-resources-actions-bundle {
  //     float: left;
  //     min-width: 200px;
  //     margin-right: $horiz-gutter/2;
  //     margin-bottom: 0;
  //   }

  //   .edit-field-resources-actions-ief-add,
  //   .edit-field-resources-actions-ief-add-existing {

  //     input {
  //       margin-top: 0;
  //     }
  //   }
  // }
}
