/* @partial _header.scss */

.top-banner {
  background: $color-medium-charcoal;
  color: #fff;
  padding: 5px $horiz-gutter 7px;
  text-align: right;

  .region-banner {
    @include layout-container;
  }

  ul {
    margin: 0 (-$horiz-gutter/2);
    padding: 0;
    text-align: right;
  }

  li {
    display: inline-block;
    padding: 0;
    margin-left: $horiz-gutter/2;
    margin-right: $horiz-gutter/2;
  }

  a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.header {
  @include layout-container();

  background-color: $wht;
}

.header-container {
  @include layout-container();

  display: flex;
  padding-left: $horiz-gutter;
  padding-right: $horiz-gutter;

  @media (max-width: $tablet-portrait-max) {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (max-width: $phone-small-max) {
    padding-left: $horiz-gutter/2;
    padding-right: $horiz-gutter/2;
  }
}

.header--main-logo {
  .logo {
    // background-image: url("../images/logo.svg");
    background-image: url("../images/logo-100-years.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    display: block;
    width: 220px;
    height: 85px;
    opacity: 1;
    transition: opacity 0.3s ease;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    @media (min-width: $tablet-portrait-min) {
      width: 240px;
      height: 125px;
    }

    @media (min-width: $desktop-min) {
      width: 300px;
      height: 125px;
    }
  }
}

.header--main-navigation {
  display: none;

  .show-nav & {
    display: block;
  }

  .block {
    float: left;
    margin-left: 0;

    @media (min-width: $tablet-portrait-min) {
      margin-left: $horiz-gutter;
    }
  }

  .view-current-user a {
    border: 3px solid transparent;
    border-radius: 18px;
    display: block;
    overflow: hidden;
    width: 36px;
    transition: border-color 0.3s ease;

    img {
      display: block;
    }

    &:hover,
    &:focus,
    .show-account & {
      border-color: $color-text-hover-click;
    }
  }

  .search-toggle {
    @include rem("font-size", 22px);

    background: transparent;
    color: $color-text-black;
    display: none;
    padding: 11px;
    margin-left: -11px;
    transition: color 0.3s ease;

    &:hover,
    &:focus,
    &[aria-expanded="true"] {
      color: $color-text-hover-click;
    }

    @media (min-width: $tablet-portrait-min) {
      display: block;
    }
  }

  @media (min-width: $tablet-portrait-min) {
    margin: auto 0 auto auto; // flexbox positioning
    display: block;

    .region {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media (max-width: $tablet-portrait-max) {
    width: 100%;

    .block {
      float: none;
    }

    .block-views {
      display: none;
    }
  }
}

/* Main Nav Search Bar */
.search-form-wrapper {
  background: $color-text-black;

  .layout-container {
    background: transparent;
    padding: 0;
  }

  .form-item,
  .form-actions {
    margin: 0;

    label {
      @include element-invisible;
    }
  }

  .selectability {
    div[role="textbox"] {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    div[role="listbox"] {
      font-size: 0.9rem;
      padding-top: 0;
      line-height: 1.3;
    }
  }

  .form-text {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .form-submit {
    background: $color-medium-charcoal;
    color: $wht;
    padding: 8px 12px;

    &:hover,
    &:focus {
      background: $wht;
      color: $color-text-black;
    }
  }

  @media (max-width: $tablet-portrait-max) {
    margin-left: -$horiz-gutter;
    margin-right: -$horiz-gutter;
    padding: $horiz-gutter;

    .form-item-search-fulltext,
    .form-item-board-committee {
      padding-right: $horiz-gutter/3;
    }

    .form-item-search-fulltext {
      width: 66.67%;

      input {
        max-width: 100%;
      }
    }

    .form-actions {
      clear: none;
      width: 33.33%;
      float: left;

      input {
        width: 100%;
      }
    }
  }

  @media (max-width: $phone-max) {
    .form-item-search-fulltext {
      width: 100%;
      padding-right: 0;
    }

    .form-actions {
      clear: left;
      width: 100%;
      float: none;
      padding-top: $horiz-gutter/3;
    }
  }

  @media (min-width: $tablet-portrait-min) {
    position: absolute;
    top: -66px;
    left: 0;
    right: 0;
    padding-top: $vert-gutter/2;
    padding-bottom: $vert-gutter/2;
    text-align: right;
    height: 66px;
    transition: top 0.3s ease-in-out;

    .layout-container {
      padding-left: $horiz-gutter;
      padding-right: $horiz-gutter;
    }

    .form--inline {
      display: inline-block;
    }

    .form-item-search-fulltext {
      width: 250px;
      margin-bottom: $vert-gutter/3;
    }

    .form-text {
      @include rem("font-size", 22px);

      background: transparent;
      border-color: transparent;
      box-shadow: none;
      color: #fff;
      padding: 0 0 3px 0;
      width: 100%;
      max-width: 100%;

      &:focus {
        border-bottom-color: $color-hr;
      }
    }

    .form-item-board-committee {
      width: 66.67%;
      text-align: left;
      width: 200px;
      margin-left: $horiz-gutter/3;
      margin-right: $horiz-gutter/3;
    }

    .form-actions {
      width: auto;
      padding: 0;
      float: left;
      clear: none;

      input {
        width: 100%;
      }
    }
  }

  @media (min-width: 1340px) {
    .layout-container {
      padding-right: 0;
    }
  }

  .form-type-select {
    display: none;
  }
}

/* Search Expanded */
.show-search {
  @media (min-width: $tablet-portrait-min) {
    .page {
      padding-top: 66px;
    }

    .search-form-wrapper {
      top: 0;
    }
  }
}

/* Mobile Menu Toggle */
.toggle-nav {
  @include rem("font-size", 14px);

  background: transparent;
  color: $color-text-black;
  margin-right: -$horiz-gutter/3;
  padding: $horiz-gutter/3;
  text-transform: none;

  .bar {
    background: $color-text-black;
    display: block;
    width: 32px;
    height: 4px;
    position: relative;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;

    & + .bar {
      margin-top: 5px;
    }
  }

  .show-nav & {
    .bar {
      &.middle {
        opacity: 0;
      }

      &.first {
        transform: rotate(45deg);
        top: 9px;
      }

      &.last {
        transform: rotate(-45deg);
        top: -9px;
      }
    }
  }

  &:hover,
  &:focus {
    background: transparent;
    color: $color-text-black;
  }

  @media (min-width: $tablet-portrait-min) {
    display: none;
  }
}
