/* Welcome Block */
#block-views-block-current-user-block-1,
.views-block-current-user-block-1 {
  .views-row {
    display: flex;
    align-items: center;
  }
}

/* Sidebar Links */
.view--links {
  .views-row {
    a {
      background-color: $color-dark-charcoal;
      color: #fff;
      display: block;
      font-size: 22px;
      font-weight: 500;
      padding: $vert-gutter/6 $horiz-gutter/2;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover,
      &:focus {
        background-color: $color-medium-orange;
      }
    }

    & + .views-row {
      margin-top: $vert-gutter/2;
    }
  }
}

/* Sidebar Committee Members */
.sidebar-members {
  .views-row {
    @include clearfix;

    & + .views-row {
      margin-top: $vert-gutter/6;
    }

    .views-field-field-committee-chair,
    .views-field-field-committee-vice-chair {
      width: calc(100% - 55px);
      padding-left: $horiz-gutter/2;
      float: right;
    }
  }
}

/* Materials Listing */
.views-block-committee-materials-block-1,
.views-block-board-materials-block-1,
.views-block-meetings-block-1 {
  & > h2 {
    @include h1;

    font-weight: 300;
    margin-top: 7px; // align baseline with sidebar title
  }

  .view-filters {
    @media (max-width: $tablet-portrait-max) and (min-width: $phone-min) {
      .form-item {
        width: 50%;
        float: left;
        margin: 0;

        &:nth-child(2n + 1) {
          clear: left;
          padding-right: $horiz-gutter/2;
        }

        &:nth-child(2n + 2) {
          padding-left: $horiz-gutter/2;
        }
      }
    }

    @media (max-width: $phone-max) {
      .form-item {
        width: 100%;
        margin: 0;
      }
    }
  }
}

/* Trustee/Staff Listing */
.view-trustees-staff-directory {
  @include clearfix;

  margin: -$horiz-gutter/2;

  @media (min-width: $tablet-small-min) {
    .view-content {
      display: flex;
      flex-wrap: wrap;

      article,
      article > a {
        height: 100%;
      }
    }
  }

  .views-row {
    padding: $horiz-gutter/2;

    @media (min-width: $tablet-small-min) {
      width: 50%;
      float: left;

      &:nth-child(2n + 1) {
        clear: left;
      }
    }

    @media (min-width: $tablet-portrait-min) {
      width: 33.33%;

      &:nth-child(2n + 1) {
        clear: none;
      }

      &:nth-child(3n + 1) {
        clear: left;
      }
    }

    @media (min-width: $tablet-landscape-min) {
      width: 25%;

      &:nth-child(3n + 1) {
        clear: none;
      }

      &:nth-child(4n + 1) {
        clear: left;
      }
    }
  }

  .view-header {
    clear: both;
    margin-bottom: $vert-gutter/3;
    padding-left: $horiz-gutter/2;
    padding-right: $horiz-gutter/2;
    width: 100%;
  }
}

/* Global Resources */
.view-global-resources {
  .views-row {
    border-top: 1px solid $color-hr;
    margin-top: $vert-gutter;
    padding-top: $vert-gutter;

    &:first-child {
      margin-top: 0;
    }
  }

  .views-field-field-resource-thumbnail {
    float: left;
    margin: 0 $horiz-gutter 0 0;
  }

  .views-field-name {
    a {
      color: $color-text-black;
      font-size: $h2-font-size;
      font-weight: $font-weight-bold;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $color-text-hover-click;
      }
    }
  }

  .views-field-field-resource-description {
  }
}

.view-archived-meetings {
  .views-row {
    border-bottom: 1px solid $color-hr;
    margin-bottom: $vert-gutter;
    padding-bottom: $vert-gutter;

    &:first-child {
      border-top: 1px solid $color-hr;
      padding-top: $vert-gutter;
    }
  }
}

.view-additional-resources {
  .item-list li {
    a {
      display: inline-block;
      line-height: 1.15;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
      top: 2px;
    }
  }
}
