.banner {
  position: relative;

  p {
    margin-top: $vert-gutter/3;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .banner__image + .banner__text {
    background: $color-dark-charcoal;
    color: #fff;
    padding: $vert-gutter/2 $horiz-gutter/1.5;

    h1 {
      color: #fff;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-portrait-min) {
    .banner__image + .banner__text {
      padding: $horiz-gutter;
    }
  }

  @media (min-width: $desktop-min) {
    .banner__image + .banner__text {
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      padding: $horiz-gutter $horiz-gutter*2;

      & > div {
        position: relative;
        z-index: 5;
        max-width: 550px;
      }

      h1 {
        @include rem("font-size", 44px);
      }

      p {
        @include rem("font-size", 20px);
      }

      &:before {
        content: "";
        background: linear-gradient(90deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 50%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
      }
    }
  }
}
