/* @partial _menus.scss */

ul.menu {
  li {
    list-style-image: none;
    list-style-type: none;

    a {
      -webkit-user-select: none; // Prevents text within from being selected.
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

.region-primary-menu {
  height: 100%;
}

.mainnavigation {
  margin-top: $vert-gutter/3;

  ul {
    margin-left: 0;
  }

  .menu-item {
    border-top: 1px solid $ui-border-color;
    padding: ($vert-gutter/3) ($vert-gutter/4);
    text-align: center;

    a {
      color: $color-text-black;
      font-weight: 600;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $color-text-hover-click;
        text-decoration: underline;
      }
    }
  }

  @media (min-width: $tablet-portrait-min) {
    margin-top: 0;

    ul {
      margin-left: -$horiz-gutter/2;
      margin-right: -$horiz-gutter/2;
    }

    .menu-item {
      border-top: 0;
      display: inline-block;
      padding: ($vert-gutter / 2);
    }
  }
}

/* Secondary Menu */
.layout-content .menu--main {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: -$horiz-gutter;
    margin-bottom: $horiz-gutter;

    @media (max-width: $phone-small-max) {
      margin-left: -$horiz-gutter/2;
      margin-right: -$horiz-gutter/2;
    }

    li {
      padding: 0;
      width: 50%;

      @media (min-width: $tablet-portrait-min) {
        width: 25%;
      }

      .path-trustees-staff-directory & {
        @media (min-width: $tablet-portrait-min) {
          width: 25%;
        }
      }

      .page-node-type-committee & {
        @media (min-width: $desktop-min) {
          width: 16.665%;
        }
      }
    }
  }

  a {
    background: $color-dark-charcoal;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 1.1;
    min-height: 60px;
    padding: $horiz-gutter/3;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;

    @media (min-width: $phone-min) {
      transition: all 0.3s ease;
    }

    &:active,
    &:visited {
      background: $color-dark-charcoal;
    }

    &:hover,
    &:focus {
      background: $color-text-hover-click;
    }

    &.is-active {
      background: $color-pale-charcoal;
      color: $color-dark-charcoal;
      pointer-events: none;
    }
  }
}

.path-trustees-staff-directory {
  .layout-content .menu--main ul {
    background-color: $color-teal;

    li,
    li a {
      border: none;
    }
  }
}

/* User Account Menu */
.header--main-navigation .block.menu--account {

  ul {
    margin: 0;
  }

  @media (max-width: $tablet-portrait-max) {
    margin-bottom: $vert-gutter/3;

    .menu-item {
      border-top: 1px solid $ui-border-color;
      padding: ($vert-gutter/3) ($vert-gutter/4);
      text-align: center;

      a {
        color: $color-text-black;
        font-weight: 600;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $color-text-hover-click;
          text-decoration: underline;
        }
      }
    }
  }

  @media (min-width: $tablet-portrait-min) {
    display: none;
    background: $color-pale-charcoal;
    box-shadow: 0 2px 3px rgba(0,0,0,0.35);
    position: absolute;
    right: auto;
    margin-left: 151px;
    margin-top: 80px;
    width: 164px;

    &:before {
      @include css-triangle(15px, $color-pale-charcoal, bottom);

      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      margin: auto;
    }

    ul {
      padding: $horiz-gutter/2;

      li {
        padding-top: 0;

        & + li {
          margin-top: $vert-gutter/6;
        }
      }
    }

    .show-account & {
      display: block;
    }
  }
}
