/* @partial _messages.scss */


/* System status report. */


// Defaults
.messages {
  margin: $vert-gutter 0;
  padding: 12px 20px 12px 40px;
  background: $success-background;
  border: 1px solid $success-border;
  border-radius: 0;
  box-shadow: none;
  color: $success-text;
  position: relative;

  &::before {
    content: "\f058";
    font-family: $font-fa-pro;
    position: absolute;
    left: $horiz-gutter/2;
    font-weight: 700;
  }
}
.messages__list {
  margin: 0;
}
.messages__item {
  list-style-image: none;
}
/* Core/module installation error messages. */
.messages--error  p.error {
  color: #333;
}
.messages + .messages {
  margin-top: $vert-gutter;
}
// End defaults


// Helpers and silent classes
.ok,
%ok {
  border-color: $success-border;
  background: $success-background;
  color: $success-text;
}
.warning,
%warning {
  border-color: $warning-border;
  background: $warning-background;
  color: $warning-text;
}
.error,
%error {
  border-color: $error-border;
  background: $error-background;
  color:  $error-text;
}
// End helpers...



// Messages
.messages--status {
  @extend %ok;

  border: 1px solid $success-border;

  &::before {
    content: "\f058";
  }
}
.messages--warning {
  @extend %warning;

  border: 1px solid $warning-border;

  &::before {
    content: "\f071";
  }
}
.messages--error {
  @extend %error;

  border: 1px solid $error-border;

  &::before {
    content: "\f057";
  }
}
