/* @partial _pager.scss */

.pager__items {
  text-align: left;

  .pager__item {
    display: inline-block;
    margin-right: $horiz-gutter/6;
    padding: 0;

    &.is-active {
      font-weight: normal;

      a {
        text-decoration: none;
      }
    }
  }
}
