/* @partial _tabs.scss */


// ul.tabs__primary,
// ul.tabs__secondary {
//  @include micro-clearfix;
//  list-style: none;
//  margin: 1rem 0 2.5rem;
//  padding: 0 0.25rem;
//  white-space: nowrap;
//  li {
//    float: left; /* LTR */
//    margin: 0.5rem 0.25rem 0;
//  }
//  a, a:link {
//    display: block;
//    text-decoration: none;
//  }
// }

// ul.tabs__primary {
//   li {
//     margin: 0.5rem 0 0 0.25rem;
//     &.is-active {
//       a {
//         background-color: $tabs-background-color--active;
//         color: $tabs-content-color--active;
//         border: 1px solid $tabs-background-color--active;
//       }
//     }
//     a {
//       font-size: $tabs-font-size;
//       text-transform: uppercase;
//       background-color: $tabs-background-color;
//       border: 1px solid $tabs-border-color;
//       border-top-radius: $tabs-border-radius;
//       color: $tabs-content-color;
//       padding: 0 1.5rem;
//       &:hover {
//         text-decoration: none;
//         background-color: $tabs-background-color--active;
//         border: 1px solid $tabs-background-color--active;
//       }
//       &.active {
//         background-color: $tabs-background-color--active;
//         color: $tabs-content-color--active;
//         &:hover {
//         }
//       }
//     }
//   }
// }

ul.tabs {
  @include clearfix;
  @include rem("font-size", 14px);

  margin-bottom: $vert-gutter/3;

  li {
    display: block;
    float: left;
    margin-right: 0;
    margin-bottom: -1px;

    a {
      background: $color-dark-charcoal;
      border: 1px solid #fff;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;

      &:active,
      &:visited {
        background: $color-dark-charcoal;
      }

      &:hover,
      &:focus {
        background: $color-text-hover-click;
      }

      &.is-active {
        background: $color-pale-charcoal;
        color: $color-dark-charcoal;
        pointer-events: none;
      }
    }
  }

  .region-highlighted & {
    margin-left: -$horiz-gutter;
    margin-right: -$horiz-gutter;
    padding-left: $horiz-gutter;
    padding-right: $horiz-gutter;
    margin-top: -$vert-gutter/3;

    @media (max-width: $phone-small-max) {
      margin-left: -$horiz-gutter/2;
      margin-right: -$horiz-gutter/2;
      padding-left: $horiz-gutter/2;
      padding-right: $horiz-gutter/2;
    }
  }
}
