/* Display Profile Sidebar */
.node--type-display-profile.node--view-mode-sidebar {
  // @include clearfix;

  .field--type-image {
    width: 55px;
    float: left;
    order: 1;
    height: 55px;
    background: black;
    overflow: hidden;
  }

  h3 {
    display: inline-block;
    color: inherit;
    width: calc(100% - 55px);
    padding-left: $horiz-gutter/2;
    font-family: $font-source-sans-pro;
    font-weight: 500;
    float: right;
    margin: 0;
    order: 2;
    margin-top: -5px;
  }

  a {
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      color: $color-text-hover-click;
    }
  }
}

/* Display Profile Teaser */
.node--type-display-profile.node--view-mode-teaser {
  text-align: center;

  h2 {
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: $vert-gutter/3;
  }

  .profile__image {
    margin-bottom: $vert-gutter/2;
  }

  .profile__info {
    margin-bottom: 0;
  }

  & > a {
    background: $color-pale-charcoal;
    color: $color-text-black;
    display: block;
    padding: $horiz-gutter $horiz-gutter $horiz-gutter/2;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-text-hover-click;

      h2 {
        color: $color-text-hover-click;
      }
    }
  }
}

/* Global Resource Teasers */
.media--type-global-resource {
  a {
    color: $color-text-black;
    display: block;
    display: flex;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-text-hover-click;

      h3 {
        color: $color-text-hover-click;
      }
    }
  }

  h3 {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .resource__image {
    margin-right: $horiz-gutter;
  }
}

/* Meeting Resource Display */
.node--type-meeting.node--view-mode-resources {
  .meeting-title {
    margin-top: 0;
  }
}

.node--type-session.node--view-mode-resources {
  h3 {
    a {
      color: $color-text-black;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $color-text-hover-click;
      }
    }
  }
}

.media.media--view-mode-resources {
  display: flex;
  justify-content: space-between;

  div:not(.field--name-field-resource-category) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .flexbox & {
    .field + .field {
      margin-top: 0;
    }
  }
}
